body {
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #3498db;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    padding: 10px 30px;
    font-size: 18px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #2c81ba;
    border-color: #2c81ba;
}